html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4fb;
  overflow-x: hidden;
}

code {
  color: #c80e0e;
}

tbody tr:nth-last-child(1) {
  border-bottom: none;
}

.bordering {
  border: 2px solid red;
}
